.Chat-input{
	line-height: 40px;
	border: 1px solid #dfdfdf;
	max-width: 95%;
	margin: 10px;
	border-radius: 20px;
	padding: 0 15px;
	display: flex;
	align-items: center;
}

.Chat-input input{
	width: 95%;
	border: none;
	line-height: 50px;
}

.Chat-input img{
	width: 25px;
	height: 25px;
	cursor: pointer;
}


@media (max-width: 450px) {
	.Chat-input{
		margin: 5px;
		padding: 0 5px;
		display: flex;
	}
	
	.Chat-input input{
		line-height: 40px;
	}

	.Chat-input img{
		display: none;
	}
}