.Messenger{
	position: absolute;
	width: 100%;
	max-height: 88vh;
	top: 60px;
	display: flex;
	justify-content: center;
	overflow: hidden;
}

.Messenger-auto{
	width: 70%;
	min-height: 95%;
	border: 1px solid #dfdfdf;
	background-color: #fff;
	display: flex;
}

.Messenger-left-col{
	width: 33%;
	border-right: 1px solid #dfdfdf;
}

.Messenger-left-col-direct{
	height: 50px;
	font-size: 18px;
	line-height: 50px;
	display: flex;
	justify-content: center;
	border-bottom: 1px solid #dfdfdf;
}

.Primary-General{
	height: 40px;
	line-height: 40px;
	font-size: 18px;

	display: flex;
	justify-content: space-around;
	border-bottom: 1px solid #dfdfdf;
}

.Primary-General p{
	cursor: pointer;
}

.Primary-General p:focus{
	border-bottom: 1px solid black;
}

.emptyChat {
	color: #000;
	width: 350px;
	margin: 30vh auto;
	text-align: center;
}
.emptyChat .img {
	border: 2px solid black;
	width: 90px;
	height: 90px;
	margin: 20px auto;
	border-radius: 50%;
	margin-bottom: 20px;

	display: flex;
	justify-content: center;
	align-items: center;
}
.emptyChat .img img {
	width: 55px;
	height: 55px;
	cursor: unset;
	margin-top: 7px;
}
.emptyChat h1 {
	font-size: 20px;
	font-weight: normal;
	margin: 10px;
}
.emptyChat p {
	font-size: 13px;
	color: rgb(151, 151, 151);
}


@media (max-width: 1100px) {
	.Messenger-auto {
		width: 80%;
	}
}

@media (max-width: 750px) {
	.Messenger-left-col{
		width: 45%;
	}

	.Primary-General{
		font-size: 16px;
	}

	.emptyChat .img {
		width: 60px;
		height: 60px;
	}
	.emptyChat .img img {
		width: 45px;
		height: 45px;
	}
	.emptyChat h1 {
		font-size: 18px;
	}
	.emptyChat p {
		font-size: 11px;
	}
}

@media (max-width: 450px) {
	.Messenger-left-col-direct{
		font-size: 15px;
		height: 40px;
		line-height: 40px;
	}

	.Primary-General{
		font-size: 11px;
		height: 32px;
		line-height: 32px;
	}

	.Messenger{
		max-height: 82vh;
	}

	.emptyChat .img {
		width: 40px;
		height: 40px;
		margin-bottom: 14px;
	}
	.emptyChat .img img {
		width: 30px;
		height: 30px;
	  margin-top: 4px;
	}
	.emptyChat h1 {
		font-size: 14px;
		margin: 8px;
	}
	.emptyChat p {
		font-size: 7px;
	}
}