.Notification{
	width: 100%;
	position: absolute;
	top: 70px;
	display: flex;
	justify-content: center;
}

.Notification-body{
	width: 70%;
	height: 85vh;
	background-color: #fff;
	border: 1px solid #dfdfdf;
	padding: 30px;
	overflow-y: scroll;
}

.Notic-this{
	margin: 20px 0;
	border-bottom:1px solid #dfdfdf;
}

.Notic-this-week h2{
	font-size: 20px;
}


@media (max-width: 1100px) {
	.Notification-body{
		width: 80%;
		padding: 25px;
	}
}


@media (max-width: 700px) {
	.Notification-body{
		padding: 20px;
	}
	
	.Notic-this{
		margin: 20px 0;
	}
	
	.Notic-this-week h2{
		font-size: 20px;
	}
}

@media (max-width: 500px) {
	.Notification-body{
		padding: 10px;
	}

	.Notification-body h1{
		font-size: 17px;
	}
	
	.Notic-this{
		margin: 14px 0;
	}

	.Notic-this h2{
		font-size: 13px;
	}
}